argcomplete==3.6.3
Beaker==1.12.1
beautifulsoup4==4.14.3
blivet==3.12.1
Brlapi==0.8.7
Brotli==1.2.0
cockpit==360.1
crispy-bootstrap4==2025.6
crypt_r==3.13.1
cupshelpers==1.0
Cython==3.1.3
dasbus==1.7
dbus_next==0.2.3
dbus-python==1.4.0
dj-database-url==3.1.0
django-allauth==65.15.1
dnf==4.24.0
dotenv==0.9.9
fedora-third-party==0.10
file-magic==0.4.0
gunicorn==25.0.2
httpie==3.2.4
humanize==4.13.0
iso639==0.1.4
langchain-groq==1.1.2
langtable==0.0.69
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.18.0
louis==3.33.0
lxml==6.0.1
Mako==1.2.3
meson==1.8.5
mutagen==1.47.0
nftables==0.1
numexpr==2.12.1
olefile==0.47
Paste==3.10.1
perf==0.1
pid==3.0.4
pipreqs==0.4.13
productmd==1.50
psutil==7.0.0
psycopg2-binary==2.9.11
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycdio==2.1.1
pycrypto==2.6.1
pycryptodomex==3.23.0
pycups==2.0.4
pyenchant==3.2.2
PyGObject==3.54.5
pyinotify==0.9.6
pykickstart==3.66
pylorax==43.11
pyOpenSSL==26.0.0
pyparted==3.13.0
PyPDF2==3.0.1
pyproj==3.7.2
PySocks==1.7.1
python-augeas==1.2.0
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
pyxdg==0.28
RapidFuzz==3.12.2
regex==2026.2.28
requests-file==2.0.0
requests-ftp==0.3.1
rpm==6.0.1
selinux==3.9
sepolicy==3.9
setools==4.6.0
simpleline==1.9.0
sos==4.11.1
streamlit==1.56.0
systemd-python==235
urlgrabber==4.1.0
websockets==15.0.1
whitenoise==6.11.0
xkbregistry==0.3
yt-dlp==2026.3.17
